<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<link rel='stylesheet' type='text/css' href='../style.css'>
<title>Add New Series</title>
</head>
<body>
<form method='post' action='/comic'>
	<label>Series Name: <input type='text' name='sname' required></label>
	<label>Publisher: <input type='text' name='pub' required></label>
	<label>Initial Date: <input type='month' name='inidate' required></label>
	<label>Description: <textarea name='desc'></textarea></label>
	<button value='submit' type='submit'>Add Series</button>
</form>
<a href='/'>Back</a>
</body>
</html>