<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel='stylesheet' type='text/css' href='/style.css'>
<title>Comic Book Series</title>
</head>
<body>
	<a href="/comic/new">Add New Comic Series</a>
</body>
</html>
<div>
