<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel='stylesheet' type='text/css' href='/style.css'>
<title>Comic Book Series</title>
</head>
<body>
<% var monthNames = [
        "January", "February", "March",
        "April", "May", "June", "July",
        "August", "September", "October",
        "November", "December"
];%>

	<a href="/comic/new">Add New Comic Series</a>

	<% for (x in comic){%>

<ul>
<li>Series Name: <%= comic[x].name %></li>
<li>Publisher: <%= comic[x].publisher %></li>

<% date = new Date(comic[x].init_date) 
var year= date.getFullYear();
var monthindex= date.getMonth();
date = monthNames[monthindex] + " " + year;
%>

<li>Originally Published: <%= date %> </li>
<li>Description:<p><%= comic[x].description %></p></li>
</ul>
<hr>
<%	} %>
</body>
</html>
<div>
